{%extends 'partials.html'%}
{%block content%}
<br>
<div class="container">
    <div class="text-end">
  <a href="{%url 'checkout'%}">  <button class="btn btn-outline-danger"> CHECKOUT</button></a>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">STATUS</th>
        
        
      </tr>
    </thead>
    <tbody>
      
          {%if ordered_items%}
          {%for i in ordered_items%}
          <tr>
        <td>{{i.food_name}}</td>
        <td>{{i.food_price}}</td>
        {%if i.is_undelievered%}
        <td class=" bg-warning">NOT DELIEVERED</td>
        {%else%}
        <td class="bg-success">DELIEVERD</td>
        {%endif%}
    </tr>
        {%endfor%}
        {%endif%}
     
     
    </tbody>
  </table>
</div>
{%endblock%}